<div fxLayout="row-wrap">
  <div fxFlex>
    <mat-card class="mat-elevation-z0">
      <mat-card-title class="card-title-icon">
        <mat-icon color="primary">Navigation</mat-icon>
      </mat-card-title>

      <br />

      <mat-card-content class="align-center">
        <p>505 Main Street</p>
        <p>Omaha, Nebraska</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex>
    <mat-card class="mat-elevation-z0">
      <mat-card-title class="card-title-icon">
        <mat-icon color="primary">phone</mat-icon>
      </mat-card-title>

      <br />

      <mat-card-content class="align-center">
        <p>Direct: 555-555-5555</p>
        <p>Toll-free: 1-999-999-3357</p>
        <p>Fax: 444-555-6666</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<br /><br /><br />
<div fxLayout="column">
  <p style="text-align: center">Visit us online or at one of our many great locations throughout Omaha metro area.</p>
</div>
