<div class="composer-container">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="align-center">Wolfgang Amadeus Mozart</h3>
    </div>
  </div>
  <br />

  <div class="row about-composer">
    <div class="col-sm-3">
      <img src="../../assets/mozart.jpg">
    </div>
    <div class="col-sm-9">
      <p class="bio">WolfGang Amadeus Mozart was an extraordinarily gifted musician with a keen ear for music.
        He was born into a Roman Catholic family in Salzburg, Austria in 1756.
        He was a very talented young lad who quickly developed his skills playing the piano that he learned from his father.
        He was only five years old when he made his first musical composition.
        Mozart quickly became the talk of the town and eventually gained enormous popularity throughout the country as he continued to hone his craft.
        To this day, he is among the most notorious musical composers in human history. <em class="reference"><a href="https://www.tonara.com/blog/interesting-facts-about-mozart/" target="_blank">Source</a></em></p>
    </div>
  </div>

</div>

