<div class="contact-container">

  <div class="row">
    <div class="col-sm-12">
      <h3 style="padding-left: 27%;">Contact Us</h3>
    </div>
  </div>

  <br /><br />
  <div class="row">

    <div class="col-sm-6">
      <div class="row location">
        <div class="col-sm-12">
          <h1><i class="bi bi-house"></i></h1>
        </div>
      </div>

      <div class="row location">
        <div class="col-sm-12">
          <ul class="list-group">
            <li class="list-group-item border-0">245 Alamo Rd.</li>
            <li class="list-group-item border-0">Dallas, Texas 77481</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="col-sm-6">
        <div class="row location">
          <div class="col-sm-12">
            <h1><i class="bi bi-telephone"></i></h1>
          </div>
        </div>

        <div class="row location">
          <div class="col-sm-12">
            <ul class="list-group">
              <li class="list-group-item border-0">Phone: 817-884-0043</li>
              <li class="list-group-item border-0">Fax: 555-555-5555</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
<div class="contact-container">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="align-center">Contact Us</h3>
    </div>
  </div>

  <div class="row">

    <div class="col-sm-6">
      <div class="row-location">
        <div class="col-sm-12">
          <h1>HI</h1>
        </div>
      </div>


      <div class="row-location">
        <div class="col-sm-12">
          <ul class="list-group">
            <li class="list-group-item border-0">1000 Alamo Dr</li>
            <li class="list-group-item border-0">Dallas, Texas 77552</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="col-sm-6">
        <div class="row location">
          <div class="col-sm-12">
            <h1><i class="fas fa-phone text-secondary"></i></h1>
          </div>
        </div>



    <div class="row-location">
      <div class="col-sm-12">
        <ul class="list-group">
          <li class="list-group-item border-0">Phone: 817-777-8877</li>
          <li class="list-group-item border-0">Email: ComposersofTx@composernation.org</li>
        </ul>
      </div>
    </div>
  </div>
</div>


-->



